<nav class="panel" style="border: none">
  <p class="text-uppercase has-text-gray pv1 f6">Filter items</p>

  <ul class="mb3 pa0">
    <li class="pv1">
      <%= link_to 'All', "#", class: "button is-fullwidth is-dark" %>
    </li>

    <li class="pv1">
      <%= link_to 'Instruments', instruments_path, class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Smartphones', "#", class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Laptops', "#", class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Bycicles', "#", class: "button is-fullwidth is-info" %>
    </li>
  </ul>
</nav>