<nav class="panel">
  <p class="text pv1 f6" style="font-size: 20px">FILTER</p>

  <ul class="mb3 pa0" style="float: left; display: flex; margin: 0 auto">
    <li class="pv1" style="margin-left: 10px">
      <%= link_to 'All', "#", class: "button is-fullwidth is-dark" %>
    </li>

    <li class="pv1" style="margin-left: 10px">
      <%= link_to 'Instruments', instruments_path, class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1" style="margin-left: 10px">
      <%= link_to 'Smartphones', smartphones_path, class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1" style="margin-left: 10px">
      <%= link_to 'Laptops', "#", class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1" style="margin-left: 10px">
      <%= link_to 'Bycicles', "#", class: "button is-fullwidth is-info" %>
    </li>
  </ul>
  <hr style="width: 1%">
</nav>